<div class="container">
  <div class="row text-center">
    <div class="col">
      <div id="title" class="lead"><label>{{title}}</label></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-species-list (notifyParent)="setTaxonKey($event)"></app-species-list>
    </div>
    <div class="col">
      <app-searchform (notifyParent)="search($event)" [searching]="searching" [obsPosition]="obsPosition" [speciesKey]="taxonKey"></app-searchform>
    </div>
    <div class="col">
      <app-occurence-result (notifyParent)="endSearch($event)" (emitPosition)="setPosition($event)" [searching]="searching"></app-occurence-result>
    </div>
  </div>
</div>