<form id="gbifform" class="form-inline" action="" style="width:100%">
  <div class="input-group fullwidth">
    <label class="form-control" for="dataset_key">Dataset key</label>
    <input class="form-control" name="dataset_key" type="text" [(ngModel)]="searchOccurrence.dataset_key" placeholder="dataset_key"
    />
  </div>
  <div class="input-group fullwidth">
    <label class="form-control" for="taxon_key">Taxon key</label>
    <input class="form-control" name="taxon_key" type="text" [(ngModel)]="searchOccurrence.taxon_key" placeholder="taxon_key"
    />
  </div>
  <div class="input-group fullwidth">
    <label class="form-control" for="recordedBy">Recorded by</label>
    <input class="form-control" name="recordedBy" type="text" [(ngModel)]="searchOccurrence.recordedBy" placeholder="recordedBy"
    />
  </div>
</form>
<app-searchmap (setWkt)="setWkt($event)"></app-searchmap>
<!-- <div>{{wkt}}</div> -->
<div>
    <button class="btn btn-md btn-default" (click)="search()" ng-disabled="searching">Search</button>
</div>
