<div class="card">
    <div class="card-header">
      <div class="card-title text-center">
        <h4>{{title}}</h4>
      </div>
    </div>
    <div class="card-body">
      <form id="gbifform" class="form-inline" action="">
        <div class="input-group fullwidth">
          <label class="form-control" for="recordedBy">Recorded by</label>
          <input class="form-control" name="recordedBy" type="text" [(ngModel)]="searchOccurrence.recordedBy" placeholder="recordedBy"
          />
          <button class="btn btn-md btn-primary" (click)="search()" ng-disabled="searching">Search</button>
        </div>
      </form>
    </div>
</div>
<div class="w-100 m-1"></div>
<app-searchmap (wktEmitter)="setWkt($event)" [obsPosition]="obsPosition"></app-searchmap>




